@using ToplearnBlogProject.UI.Shared.Dashboard.Layouts
@layout DashboardLayout
@page "/dashboard/roles/list"


<section class="py-4">
    <div class="container">
        <!-- Author list title START -->
        <div class="row g-4 pb-4">
            <div class="col-12">
                <div class="d-sm-flex justify-content-between align-items-center">
                    <h1 class="mb-sm-0 h3">لیست نقش ها</h1>
                    <a href="/dashboard/roles/create" class="btn btn-sm btn-primary mb-0">
                        <i class="fas fa-plus me-2"></i>ثبت نقش جدید
                    </a>
                </div>
            </div>
        </div>
        <!-- Author list title START -->
        <div class="row g-4">
            <div class="col-12">
                <!-- Card START -->
                <div class="card border">
                    <!-- Card header START -->
                    <div class="card-header border-bottom p-3">
                        <!-- Search and select START -->
                        <div class="row g-3 align-items-center justify-content-between">
                            <!-- Search bar -->
                            <div class="col-md-8">
                                <form class="rounded position-relative">
                                    <input class="form-control bg-transparent" type="search" placeholder="جستجو" aria-label="Search">
                                    <button class="btn bg-transparent border-0 px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit"><i class="fas fa-search fs-6 "></i></button>
                                </form>
                            </div>
                            <!-- Tab buttons -->
                            <div class="col-md-3">
                                <!-- Tabs START -->
                                <ul class="list-inline mb-0 nav nav-pills nav-pill-dark-soft border-0 justify-content-end" id="pills-tab" role="tablist">
                                    <!-- Grid tab -->
                                    <li class="nav-item">
                                        <a href="#nav-list-tab" class="nav-link mb-0 me-2 active" data-bs-toggle="tab">
                                            <i class="fas fa-fw fa-list-ul"></i>
                                        </a>
                                    </li>
                                </ul>
                                <!-- Tabs end -->
                            </div>
                        </div>
                        <!-- Search and select END -->
                    </div>
                    <!-- Card header END -->
                    <!-- Card body START -->
                    <div class="card-body p-3 pb-0">
                        <!-- Tabs content START -->
                        <div class="tab-content py-0 my-0">

                            <!-- Tabs content item START -->
                            <div class="tab-pane fade show active" id="nav-list-tab">
                                <!-- Table START -->
                                <div class="table-responsive border-0">
                                    @if (Roles != null)
                                    {
                                        <table class="table align-middle p-4 mb-0 table-hover">
                                            <!-- Table head -->
                                            <thead class="table-dark">
                                                <tr>
                                                    <th scope="col" class="border-0">شناسه</th>
                                                    <th scope="col" class="border-0">عنوان انگلیسی</th>
                                                    <th scope="col" class="border-0">عنوان فارسی</th>
                                                    <th scope="col" class="border-0">تنظیمات</th>
                                                </tr>
                                            </thead>

                                            <tbody class="border-top-0">
                                                @foreach (var item in Roles)
                                                {
                                                    <tr>
                                                        <td>@item.Id</td>
                                                        <td>@item.EnName</td>
                                                        <td>@item.FaName</td>
                                                        <td>
                                                            <div class="d-flex gap-2">
                                                                <button class="btn btn-primary btn-round mb-0" @onclick="@(() => NavigateToEdit(item.Id))">
                                                                    <i class="bi bi-pen"></i>
                                                                </button>
                                                                <button class="btn btn-danger btn-round mb-0" @onclick="@(() => ShowRemoveDialog(item))">
                                                                    <i class="fas fa-trash"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                    else
                                    {
                                        <MudOverlay @bind-Visible="showProgress" LightBackground="true" AutoClose="true">
                                            <MudProgressCircular Color="Color.Primary" Size="Size.Small" Indeterminate="true" />
                                        </MudOverlay>
                                    }


                                </div>
                                <!-- Table END -->
                            </div>
                            <!-- Tabs content item END -->
                        </div>
                        <!-- Tabs content END -->
                    </div>
                    <!-- Card body END -->
                    <!-- Card Footer START -->
                    @*<div class="card-footer p-3">
                    <!-- Pagination START -->
                    <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                    <!-- Content -->
                    <p class="mb-sm-0 text-center text-sm-start">نمایش 1 تا 8 از 20</p>
                    <!-- Pagination -->
                    <nav class="mb-sm-0 d-flex justify-content-center" aria-label="navigation">
                    <ul class="pagination pagination-sm pagination-bordered mb-0">
                    <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">قبل</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">..</a></li>
                    <li class="page-item"><a class="page-link" href="#">15</a></li>
                    <li class="page-item">
                    <a class="page-link" href="#">بعد</a>
                    </li>
                    </ul>
                    </nav>
                    </div>
                    <!-- Pagination END -->
                    </div>*@
                    <!-- Card Footer END -->
                </div>
                <!-- Card END -->
            </div>
        </div>
    </div>
</section>