@using ToplearnBlogProject.UI.Shared.Dashboard

<EditForm EditContext="editContext">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <label class="form-label">نقش</label>
                @if (Roles != null)
                {
                    <select class="form-select" @onchange="OnChangeRole">
                        @foreach (var item in Roles)
                        {
                            if (Admin.RoleId == item.Id)
                            {
                                <option value="@item.Id" selected>@item.EnName (@item.FaName)</option>
                            }else
                            {
                            <option value="@item.Id">@item.EnName (@item.FaName)</option>
                            }
                        }
                    </select>
                }

                <ValidationMessage For="@(() => Admin.RoleId)" />
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label class="form-label">نام</label>
                <input name="Name" type="text" @bind-value="@Admin.Name" class="form-control" placeholder="نام را وارد کنید">
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label class="form-label">نام خانوادگی</label>
                <input name="LastName" type="text" @bind-value="@Admin.LastName" class="form-control" placeholder="نام خانوادگی را وارد کنید">
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label class="form-label">ایمیل</label>
                <input name="Email" type="text" @bind-value="@Admin.Email" class="form-control" placeholder="ایمیل را وارد کنید">
                <ValidationMessage For="@(() => Admin.Email)" />
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label class="form-label">تلفن</label>
                <input name="Phone" type="text" @bind-value="@Admin.Phone" class="form-control" placeholder="تلفن را وارد کنید">
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label class="form-label">کلمه عبور</label>
                <input name="Password" type="text" @bind-value="@Admin.Password" class="form-control" placeholder="کلمه عبور را وارد کنید">
                <ValidationMessage For="@(() => Admin.Password)" />
                <p class="text-danger">
                    فقط جهت تغییر کلمه عبور این فیلد را پر کنید
                </p>
            </div>
        </div>
        <div class="col-12">
            <div class="mb-3">
                @if (!string.IsNullOrEmpty(Admin.Avatar))
                {
                    <div class="col-4">
                        <img src="@baseImageUrl/@Admin.Avatar" class="rounded border" />
                    </div>
                }

                <FileUploadComponent FileCallback="OnSelectedFile" />
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <div class="form-check form-switch form-check-md mb-3">
                    <input class="form-check-input" type="checkbox" name="IsActive" @bind-value="@Admin.IsActive">
                    <label class="form-check-label" for="availabilityCheck">فعال / غیر فعال</label>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-start">
            <button class="btn btn-primary w-100" type="button" @onclick="Submit">
                @if (Admin.Id > 0)
                {
                    <span>ویرایش اطلاعات</span>
                }
                else
                {
                    <span>ثبت اطلاعات</span>
                }
            </button>
        </div>

        <MudOverlay @bind-Visible="showProgress" LightBackground="true" AutoClose="true">
            <MudProgressCircular Color="Color.Primary" Size="Size.Small" Indeterminate="true" />
        </MudOverlay>
    </div>

</EditForm>